* {
  border-width: 0;
}

.Lesson__player-container {
  position: relative;
}

.Lesson__player-layout {
  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: linear-gradient(
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7)
  );
}

.Lesson__played {
  opacity: 0;
}

.Lesson__paused {
  opacity: 0.5;
}

.Lesson__paused:hover {
  opacity: 1;
}

.Lesson__player-layout:hover {
  opacity: 1;
}

#controls {
  display: flex;
  flex-direction: column;
}

.Lesson__player-controls {
  height: 40px;
  background-color: #030303;
  color: #eeeeee;
  width: 100%;
  padding: 0 10px;
  align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Lesson__progression-wrap {
  margin: 0;
  padding: 0;
  background-color: rgba(200, 200, 200, 0);
  z-index: 1;
}

/* .Lesson__progression-wrap:hover {
  height: 10px;
} */

.Lesson__progression-range {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #cc181e 0%,
    #cc181e 50%,
    #777 0%,
    #777 62.5%,
    #444 0%,
    #444 88%
  );
  cursor: pointer;
  height: 3px;
  margin: 0;
  transition: 0.1s ease-in;
  vertical-align: bottom;
  width: 100%;
}

.Lesson__progression-wrap:hover .Lesson__progression-range,
.Lesson__progression-wrap.hover .Lesson__progression-range {
  height: 10px;
}

.Lesson__progression-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #aeaeae;
  border-radius: 8px;
  box-shadow: inset 0 0 0 5px #eaeaea;
  height: 0;
  transition: 0.1s ease-in;
  width: 0;
}

.Lesson__progression-wrap:hover
  .Lesson__progression-range::-webkit-slider-thumb,
.Lesson__progression-wrap.hover
  .Lesson__progression-range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
}

.Lesson__progression-loaded .Lesson__progression-range,
.Lesson__progression-loaded
  .Lesson__progression-range::-webkit-slider-thumb {
  transition: 0.1s ease-in;
}

:focus {
  outline: none;
}

.Lesson__player-button {
  cursor: pointer;
}

.Lesson__play {
  width: 40px;
}

.Lesson__volume-control {
  width: 15%;
}
